<manifest 
android:versionName="0.1.2" android:versionCode="2" package="net.tokyoenvious.droid.pictumblr" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="7"></uses-sdk>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:icon="@drawable/app_icon" android:label="@string/app_name">
        <activity
            android:label="@string/app_name"
            android:name=".PicTumblrActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".PicTumblrPrefernceActivity">
        </activity>
    </application>
</manifest>
